<% if @contest.present? %>
  <h3>第<%= @contest.count %>回コンテスト開催中</h3>
  <%= render 'contest_scramble', contest: @contest %>
  <a class="btn btn-success dropdown-toggle" href="<%= contests_submit_path %>">
    コンテストに参加する
  </a>
  <%= render 'registrant_list', records: @records %>

<% else %>
  <h5>SRM777 開催中</h5>
<% end %>


<div class="container">


	<div class="progress">
	  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	    <span>残り時間 40分</span>
	  </div>
	</div>


    <div class="row">
      <div class="span8">

			<div class="panel panel-default">
				<table class="table">
			        <thead>
			          <tr>
			            <th>Ranking</th>
			            <th>Account</th>
			            <th>Easy</th>
			            <th>Medium</th>
			            <th>Hard</th>
			            <th>Score</th>
			          </tr>
			        </thead>
			        <tbody>
								<% @players.each_with_index do |player, index| %>
			          <tr>
			            <th scope="row"><%= index + 1 %></th>
			            <td><%= player[:account] %></td>
			            <td><%= player[:easy] %></td>
			            <td><%= player[:medium] %></td>
			            <td><%= player[:hard] %></td>
			            <td><%= player[:score] %></td>
			          </tr>
			          <% end %>
			        </tbody>
			      </table>
			</div>

				<div>
				    <svg viewBox="0 0 100 100" >
				        <circle class="pie1" cx="31.8309886184" cy="31.8309886184" r="15.9154943092"/>
				        <circle class="pie2" cx="31.8309886184" cy="31.8309886184" r="15.9154943092"/>
				        <circle class="pie3" cx="31.8309886184" cy="31.8309886184" r="15.9154943092"/>
				        <circle class="pie4" cx="31.8309886184" cy="31.8309886184" r="15.9154943092"/>
				    </svg>
				</div>
      </div>

      <div class="span3">
				<!-- twitter list -->
				<div class="panel panel-primary">
				  <div class="panel-heading">
				    <h5 class="panel-title">New Tweets!</h3>
				  </div>
				</div>

				<% @tweets.each do |tweet| %>
				<div class="panel <%= @classes[tweet[:type]] %>">
				  <div class="panel-heading">
				    <h5 class="panel-title">@<%= tweet[:user] %></h3>
				  </div>
				  <div class="panel-body">
				    <%= tweet[:tweet] %>
				  </div>
				</div>
				<% end %>
      </div><!--/span-->
    </div><!--/row-->
  <footer>
    <!--p>&copy; Company 2015</p-->
  </footer>

</div> <!-- /container -->
