<h1>Contest結果一覧</h1>




<table class="table table-striped">
  <thead>
    <tr>
      <th>Contest</th>
      <th>1位</th>
      <th>タイム</th>
      <th>期間</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      	<%= link_to '第1回BLD Contest', contests_show_path, { :class => 'btn btn-link' } %>
      </td>
      <td>
      	<%= link_to 'まっちゃん', contests_show_path, { :class => 'btn btn-link' } %>
      </td>
      <td>
      	<div class="center">
      	1:00.00
	      </div>
      </td>
      <td>
      	<div class="center">
      	2014/12/11 ~ 2014/12/18
	      </div>
      </td>
    </tr>

    <tr>
      <td>
      	<%= link_to '第1回BLD Contest', contests_show_path, { :class => 'btn btn-link' } %>
      </td>
      <td>
      	<%= link_to 'まっちゃん', contests_show_path, { :class => 'btn btn-link' } %>
      </td>
      <td>
      	<div class="center">
      	1:00.00
	      </div>
      </td>
      <td>
      	<div class="center">
      	2014/12/11 ~ 2014/12/18
	      </div>
      </td>
    </tr>

    <tr>
      <td>
      	<%= link_to '第1回BLD Contest', contests_show_path, { :class => 'btn btn-link' } %>
      </td>
      <td>
      	<%= link_to 'まっちゃん', contests_show_path, { :class => 'btn btn-link' } %>
      </td>
      <td>
      	<div class="center">
      	1:00.00
	      </div>
      </td>
      <td>
      	<div class="center">
      	2014/12/11 ~ 2014/12/18
	      </div>
      </td>
    </tr>
  </tbody>
</table>