<h3>第<%= @contest.count %>回 BLD Contest　結果発表</h3>


<% if @result.count > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>順位</th>
      <th>ハンドルネーム</th>
      <th>Best</th>
      <th>1回目</th>
      <th>2回目</th>
      <th>3回目</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @result.each do |res| %>
    <tr>
      <td><%= res[:order] %></td>
      <td><%= @users[res[:user_id]].name %></td>
      <td>
        <%= res[:best_time_label] %>
      </td>
      <% res[:result].each do |record| %>
        <td><%= record[:time_label] %></td>
      <% end %>
      <td>
        <%= res[:comment] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% else %>

このコンテストへの参加者はいませんでした。

<% end %>