
<div class="page-header">
<h3>記録提出フォーム</h1>
</div>

<%= render 'contest_scramble', contest: @contest %>

<h5>記録</h5>
<% if flash[:notice].present? %>
<div class="alert alert-danger" role="alert">
	<%= flash[:notice] %>
</div>
<% end %>

<%= form_tag('/contests/register', :method => :put) do %>

<input type="hidden" name="contest_count" value="<%= @contest.count %>">

<div class="input-prepend">
    <span class="add-on">@</span>
    <input name="registrant" class="span2" id="prependedInput" type="text" placeholder="ハンドルネーム" value="<%= @submit_info.registrant %>">
</div>

<% (1..3).each do |index| %>

<% dnf_name = "DNF-" + index.to_s %>
<% time_name = "time[]" %>
<% time_label = index.to_s + "回目のタイム" %>
<% checked = @submit_info.dnf_checked[index-1] %>
<% time = @submit_info.time[index-1] %>

<div class="input-group input-group-lg">
	<div class="input-prepend">
	    <span class="add-on"><%= index %></span>
	    <span class="add-on">DNF: <input name="<%= dnf_name %>" type="checkbox" aria-label="..." <%= checked %>></span>
	    <input name="<%= time_name %>" class="span2" id="prependedInput" type="text" placeholder="<%= time_label %>" value="<%= time %>">
	</div>
</div>

<% end %>

<textarea name="comment" class="form-control" rows="5">
<%= @submit_info.comment %>
</textarea>

<div>
<%= submit_tag("提出する", :data => { :confirm => "提出してもよろしいですか?" }, :class => "btn btn-primary dropdown-toggle" ) %>
</div>

<% end %>
